Repository swar00pduthks/marquez: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-pmd, gradle-build, gradle-test, check-repo-standards

.pre-commit-config.yaml:

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        -   id: trailing-whitespace
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: end-of-file-fixer
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: check-yaml
            exclude: ^chart/
        -   id: check-added-large-files
        -   id: check-merge-conflict
        -   id: mixed-line-ending
            exclude: ^(docs/|web/|examples/)

  -   repo: https://github.com/jguttman94/pre-commit-gradle
      rev: v0.3.0
      hooks:
        -  id: gradle-spotless
           name: Spotless Code Formatting
           args: ['-w', --wrapper]

  -   repo: local
      hooks:
        -   id: gradle-pmd
            name: PMD Static Analysis
            entry: cmd /c gradlew.bat pmdMain pmdTest
            language: system
            pass_filenames: false
            files: \.java$

        -   id: gradle-build
            name: Gradle Build
            entry: cmd /c gradlew.bat build -x test
            language: system
            pass_filenames: false
            files: \.(java|gradle|properties)$

        -   id: gradle-test
            name: Run Tests
            entry: cmd /c "gradlew.bat --stop && gradlew.bat cleanTest test"
            language: system
            pass_filenames: false
            files: \.java$
            stages: [pre-push]

        -   id: check-repo-standards
            name: Check Repository Standards
            entry: bash dev/check_repo_standards.sh
            language: system
            pass_filenames: false
            files: (CHANGELOG\.md|gradle\.properties|CONTRIBUTING\.md|CODE_OF_CONDUCT\.md)

        -   id: check-dco-signoff
            name: Check DCO Sign-off
            entry: powershell -Command "git log -1 --pretty=%B | Select-String 'Signed-off-by:' -Quiet"
            language: system
            pass_filenames: false
            stages: [commit-msg]

feat: add 3 user personas, 2 PRDs, and NL-first UX philosophy
  bmad/README.md
  bmad/agents/users/ai-engineer-user.md
  bmad/agents/users/app-developer-user.md
  bmad/agents/users/batch-ops-engineer-user.md
  bmad/agents/ux-designer-agent.md
  specs/README.md
  specs/batch-monitoring-eta/prd.md
  specs/natural-language-lineage-agent/prd.md
Due: none

feat: complete BMAD pipeline phases 2a-4 for both feature specs
  specs/batch-monitoring-eta/prd.md
  specs/batch-monitoring-eta/stories.md
  specs/batch-monitoring-eta/ux.md
  specs/natural-language-lineage-agent/prd.md
  specs/natural-language-lineage-agent/stories.md
  specs/natural-language-lineage-agent/ux.md
Due: none

fix: address all 7 Copilot review comments on PR #57
  .claude/settings.json
  .github/workflows/docs-freshness.yml
  bmad/agents/architect-agent.md
  bmad/agents/dev-platform-agent.md
  bmad/workflows/feature-workflow.md
  marquez_data_model.md
Due: none

feat: wire BMAD agents as slash commands + add spec-gate CI enforcement
  .claude/commands/architect-agent.md
  .claude/commands/bmad.md
  .claude/commands/comparative-analyst-agent.md
  .claude/commands/dev-backend-agent.md
  .claude/commands/dev-database-agent.md
  .claude/commands/dev-frontend-agent.md
  .claude/commands/pm-agent.md
  .claude/commands/qa-agent.md
  .claude/commands/sm-agent.md
  .claude/commands/ux-designer-agent.md
  .github/workflows/spec-gate.yml
Due: none

fix: resolve all critical bugs found by Java SME + PostgreSQL SME review
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V106__add_default_partitions_and_performance_indexes.sql
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
  chart/values.yaml
  docker/postgres-age/Dockerfile
  docs/azure-production-config.md
Due: gradle-pmd, gradle-build, gradle-test

style: apply spotless formatting to lineage service sources
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

fix: reconcile OpenLineage event-type vs Marquez RunState vocabularies
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
Due: gradle-pmd, gradle-build, gradle-test

config: production Azure Flex Server + AKS sizing, lineage_edges pre-materialization
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
  chart/templates/marquez/configmap.yaml
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
  docs/azure-production-config.md
Due: none

perf: mesh lineage write/read/response-size hardening for 1M events/day
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V106__add_default_partitions_and_performance_indexes.sql
  docs/mesh-lineage-perf-design.md
Due: gradle-pmd, gradle-build, gradle-test

test: lock in lineage_edges, abort-gating, and 5-job V1/V2 parity regressions
  api/src/test/java/marquez/common/api/LineageResourceV1V2ParityIT.java
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
Due: gradle-pmd, gradle-build, gradle-test

fix: override resource requests in CI values to fit kind cluster
  chart/ci/ci-values.yaml
Due: none

fix: V2 depth cap bypass + accurate lineage_edges schema comments
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
Due: gradle-pmd, gradle-build, gradle-test

ci: fix broken JDK install script and deprecated Python Docker image
  .circleci/config.yml
  .circleci/get-jdk17.sh
Due: none

fix: restore sslmode=prefer default and fix marquez logger level in configmap
  chart/templates/marquez/configmap.yaml
Due: none

fix: recursive CTE must have a single recursive term (revert UNION ALL split)
  api/src/main/java/marquez/db/LineageDao.java
Due: gradle-pmd, gradle-build, gradle-test

docs(azure): single-db Flex Server PG17 config — drop dual-DB, add parameter reference
  chart/templates/marquez/configmap.yaml
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
  docs/azure-production-config.md
Due: none

ci: remove decommissioned Codecov v3 orb that fails every job using it
  .circleci/config.yml
Due: none

fix: remove invalid Dropwizard db fields that crash app on startup
  chart/templates/marquez/configmap.yaml
Due: none

fix: correlate dataset-version facets via JOIN, not an out-of-scope table ref
  api/src/main/java/marquez/db/LineageDao.java
Due: gradle-pmd, gradle-build, gradle-test

docs: correct mesh lineage perf design to match implementation reality
  docs/mesh-lineage-perf-design.md
Due: none

fix(db): grant marquez user schema ownership and pass currentSchema (PG15+)
  chart/templates/marquez/configmap.yaml
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
  docker-compose.yml
  docker/init-db.sh
Due: none

fix: restore fast getRunLineage (load-test) + document V106/V107 (doc-freshness)
  api/src/main/java/marquez/db/LineageDao.java
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(db): partition lineage_edges by run_date + namespace (multi-tenant)
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

docs: schema-verified 2-year retention plan for the large raw tables
  docs/mesh-lineage-perf-design.md
Due: none

feat(lineage): BFS read path over lineage_edges behind a flag
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  docs/mesh-lineage-perf-design.md
Due: gradle-pmd, gradle-build, gradle-test

fix(load-test): make 'errors' rate the true failure fraction; guard summary
  api/load-testing/get-lineage-load-test.js
Due: none

feat(db): partition run_facets by event time + namespace (V108)
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/RunFacetsDao.java
  api/src/main/resources/marquez/db/migration/V108__partition_run_facets.sql
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(lineage): extend lineage_edges BFS to job & dataset lineage (V109)
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/V109__add_job_dataset_lineage_edges.sql
  api/src/test/java/marquez/service/LineageServiceTest.java
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(db): automate composite-partition lifecycle + retention (V110)
  api/src/main/java/marquez/jobs/PartitionManagementJob.java
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/main/resources/marquez/db/migration/V110__composite_partition_management_functions.sql
  api/src/test/java/marquez/service/PartitionManagementServiceTest.java
  docs/mesh-lineage-perf-design.md
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(db): online, startup-safe cutover for run_facets partitioning (V108)
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJob.java
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/main/resources/marquez/db/migration/V108__partition_run_facets.sql
  api/src/test/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJobTest.java
  docs/mesh-lineage-perf-design.md
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(db): online cutover for dataset_facets (V111) + shared cutover base
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/db/DatasetFacetsDao.java
  api/src/main/java/marquez/jobs/backfill/AbstractPartitionCutoverBackfillJob.java
  api/src/main/java/marquez/jobs/backfill/DatasetFacetsPartitionBackfillJob.java
  api/src/main/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJob.java
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/main/resources/marquez/db/migration/V111__partition_dataset_facets.sql
  api/src/test/java/marquez/jobs/backfill/DatasetFacetsPartitionBackfillJobTest.java
  api/src/test/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJobTest.java
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

feat(db): online cutover for lineage_events (V112) — completes 2-yr partitioning
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/jobs/backfill/AbstractPartitionCutoverBackfillJob.java
  api/src/main/java/marquez/jobs/backfill/LineageEventsPartitionBackfillJob.java
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/main/resources/marquez/db/migration/V112__partition_lineage_events.sql
  api/src/test/java/marquez/jobs/backfill/LineageEventsPartitionBackfillJobTest.java
  docs/mesh-lineage-perf-design.md
  marquez_data_model.md
Due: gradle-pmd, gradle-build, gradle-test

test(backfill): fix shared-DB isolation in the run_facets count-mismatch test
  api/src/test/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJobTest.java
Due: gradle-pmd, gradle-build, gradle-test

test(backfill): reset shared checkpoint in cutover tests (shared-container isolation)
  api/src/test/java/marquez/jobs/backfill/DatasetFacetsPartitionBackfillJobTest.java
  api/src/test/java/marquez/jobs/backfill/LineageEventsPartitionBackfillJobTest.java
  api/src/test/java/marquez/jobs/backfill/RunFacetsPartitionBackfillJobTest.java
Due: gradle-pmd, gradle-build, gradle-test

test(migrations): analyze lineage_events in V57.1 no-data test (partitioned parent)
  api/src/test/java/marquez/db/migrations/V57_1__BackfillFacetsTest.java
Due: gradle-pmd, gradle-build, gradle-test

test: allow running api integration tests against an external PostgreSQL
  CONTRIBUTING.md
  api/src/test/java/marquez/jdbi/MarquezJdbiExternalPostgresExtension.java
Due: gradle-pmd, gradle-build, gradle-test, check-repo-standards
