Repository swar00pduthks/marquez: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-pmd, gradle-build, gradle-test, check-repo-standards

.pre-commit-config.yaml:

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        -   id: trailing-whitespace
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: end-of-file-fixer
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: check-yaml
            exclude: ^chart/
        -   id: check-added-large-files
        -   id: check-merge-conflict
        -   id: mixed-line-ending
            exclude: ^(docs/|web/|examples/)

  -   repo: https://github.com/jguttman94/pre-commit-gradle
      rev: v0.3.0
      hooks:
        -  id: gradle-spotless
           name: Spotless Code Formatting
           args: ['-w', --wrapper]

  -   repo: local
      hooks:
        -   id: gradle-pmd
            name: PMD Static Analysis
            entry: cmd /c gradlew.bat pmdMain pmdTest
            language: system
            pass_filenames: false
            files: \.java$

        -   id: gradle-build
            name: Gradle Build
            entry: cmd /c gradlew.bat build -x test
            language: system
            pass_filenames: false
            files: \.(java|gradle|properties)$

        -   id: gradle-test
            name: Run Tests
            entry: cmd /c "gradlew.bat --stop && gradlew.bat cleanTest test"
            language: system
            pass_filenames: false
            files: \.java$
            stages: [pre-push]

        -   id: check-repo-standards
            name: Check Repository Standards
            entry: bash dev/check_repo_standards.sh
            language: system
            pass_filenames: false
            files: (CHANGELOG\.md|gradle\.properties|CONTRIBUTING\.md|CODE_OF_CONDUCT\.md)

        -   id: check-dco-signoff
            name: Check DCO Sign-off
            entry: powershell -Command "git log -1 --pretty=%B | Select-String 'Signed-off-by:' -Quiet"
            language: system
            pass_filenames: false
            stages: [commit-msg]

fix(test): extract AGE_IMAGE constant to satisfy Spotless line-length limit
  api/src/test/java/marquez/PostgresContainer.java
Due: gradle-pmd, gradle-build, gradle-test

fix(db): restore V96 advisory-lock partition function deleted by 214c9bf0
  api/src/main/resources/marquez/db/migration/V96__fix_create_monthly_partition_concurrency.sql
Due: none

fix(db): ship marquez_v3.agtype_to_json as V103 migration
  api/src/main/resources/marquez/db/migration/V103__create_marquez_v3_schema_and_agtype_to_json.sql
  api/src/test/java/marquez/v3/db/GraphWriterIntegrationTest.java
Due: gradle-pmd, gradle-build, gradle-test

test(parity): add V1<->V2 parity ITs for Namespace, Source, Tag, Lineage, ColumnLineage
  api/src/test/java/marquez/common/api/ColumnLineageResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/LineageResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/NamespaceResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/SourceResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/TagResourceV1V2ParityIT.java
Due: gradle-pmd, gradle-build, gradle-test

test(parity): add V1<->V3 parity ITs for Namespace, Source, Tag, Job, Dataset
  api/src/test/java/marquez/common/api/DatasetResourceV1V3ParityIT.java
  api/src/test/java/marquez/common/api/JobResourceV1V3ParityIT.java
  api/src/test/java/marquez/common/api/NamespaceResourceV1V3ParityIT.java
  api/src/test/java/marquez/common/api/SourceResourceV1V3ParityIT.java
  api/src/test/java/marquez/common/api/TagResourceV1V3ParityIT.java
Due: gradle-pmd, gradle-build, gradle-test

docs(parity): add V1/V2/V3 parity coverage matrix
  docs/parity-coverage-matrix.md
Due: none

fix(config): wire MARQUEZ_AGE_ENABLED env var into runtime config; default to true for v3-beta
  chart/values.yaml
  marquez.dev.yml
Due: none

fix(v3): register OpenLineageResourceV3Beta so /api/v3beta/lineage serves the marquez-web:v3beta UI
  api/src/main/java/marquez/MarquezApp.java
Due: gradle-pmd, gradle-build, gradle-test

fix(v3beta): call marquez_v3.agtype_to_json (where V103 creates it) instead of ag_catalog.agtype_to_json
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3Beta.java
Due: gradle-pmd, gradle-build, gradle-test

revert(v3): unregister OpenLineageResourceV3Beta until AGE Cypher rewrite lands
  api/src/main/java/marquez/MarquezApp.java
Due: gradle-pmd, gradle-build, gradle-test

fix(ci): enable AGE in load-test-api job so V3 lineage tests have a populated graph
  .circleci/api-load-test.sh
  .circleci/config.yml
Due: none

perf(v2): fast-path latest-run lookup via run_lineage_denormalized
  api/load-testing/v3-lineage-load-test.js
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/service/JobService.java
  api/src/main/resources/marquez/db/migration/V104__add_run_facets_and_dataset_versions_indexes.sql
  api/src/main/resources/marquez/db/migration/V105__add_index_for_latest_run_lookup.sql
  api/src/main/resources/marquez/db/migration/V89__add_unique_constraints_for_upsert.sql
  api/src/test/java/marquez/db/RunDaoFromDenormTest.java
  api/src/test/java/marquez/service/JobServiceV2Test.java
  clients/python/setup.py
  gradle.properties
Due: gradle-pmd, gradle-build, gradle-test, check-repo-standards

fix(load-test): decouple v3 errors threshold from soft check() assertions
  api/load-testing/v3-lineage-load-test.js
Due: none

fix(v2): restore V1 parity for latestRuns + dataset_facets, batch hydration to 2 queries
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/service/JobService.java
  api/src/test/java/marquez/common/api/DatasetResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/JobResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/NamespaceResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/SourceResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/TagResourceV1V2ParityIT.java
  api/src/test/java/marquez/common/api/V1V2ParityAssertions.java
  api/src/test/java/marquez/db/RunDaoFromDenormTest.java
  api/src/test/java/marquez/service/JobServiceV2Test.java
Due: gradle-pmd, gradle-build, gradle-test

Update base image version in Dockerfile
  Dockerfile
Due: none

fix: aggregate child run lineage to parent in aggregateToParentRun=true path
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/db/LineageTestUtils.java
  api/src/test/java/marquez/db/TestingDb.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Due: gradle-pmd, gradle-build, gradle-test

chore: bump version to 0.52.56
  clients/python/setup.py
  gradle.properties
Due: gradle-build, check-repo-standards

fix: address Copilot review — deterministic ARRAY_AGG ordering and UTC run_date
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/test/java/marquez/db/TestingDb.java
Due: gradle-pmd, gradle-build, gradle-test

fix: address second round of Copilot review comments
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
Due: gradle-pmd, gradle-build, gradle-test

Remove namespace_uuid condition from query
  api/src/main/java/marquez/service/DenormalizedLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

Update version from 0.52.56 to 0.52.57
  gradle.properties
Due: gradle-build, check-repo-standards

Update setup.py
  clients/python/setup.py
Due: none

Remove unnecessary join condition in SQL query
  api/src/main/java/marquez/service/DenormalizedLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

Update version to 0.52.58
  gradle.properties
Due: gradle-build, check-repo-standards

Bump version from 0.52.57 to 0.52.58
  clients/python/setup.py
Due: none

fix: remove VARCHAR(255) restrictions from all denormalized tables
  api/src/main/resources/marquez/db/migration/V106__remove_varchar255_from_denormalized_tables.sql
  clients/python/setup.py
  gradle.properties
Due: gradle-build, check-repo-standards

perf: mesh lineage write/read/response-size hardening for 1M events/day
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V106__add_default_partitions_and_performance_indexes.sql
  docs/mesh-lineage-perf-design.md
Due: gradle-pmd, gradle-build, gradle-test

fix: resolve all critical bugs found by Java SME + PostgreSQL SME review
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V106__add_default_partitions_and_performance_indexes.sql
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
  chart/values.yaml
  docker/postgres-age/Dockerfile
  docs/azure-production-config.md
Due: gradle-pmd, gradle-build, gradle-test

fix: reconcile OpenLineage event-type vs Marquez RunState vocabularies
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
Due: gradle-pmd, gradle-build, gradle-test

test: lock in lineage_edges, abort-gating, and 5-job V1/V2 parity regressions
  api/src/test/java/marquez/common/api/LineageResourceV1V2ParityIT.java
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
Due: gradle-pmd, gradle-build, gradle-test

config: production Azure Flex Server + AKS sizing, lineage_edges pre-materialization
  api/src/main/resources/marquez/db/migration/V107__create_lineage_edges_and_partition_run_facets.sql
  chart/templates/marquez/configmap.yaml
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
  docs/azure-production-config.md
Due: none

style: apply spotless formatting to lineage service sources
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

feat: add BMAD spec-driven development kit
  .claude/settings.json
  .gitignore
  bmad/README.md
  bmad/agents/architect-agent.md
  bmad/agents/comparative-analyst-agent.md
  bmad/agents/dev-agent.md
  bmad/agents/pm-agent.md
  bmad/agents/product-owner-agent.md
  bmad/agents/qa-agent.md
  bmad/agents/qa-performance-agent.md
  bmad/agents/qa-security-agent.md
  bmad/agents/sm-agent.md
  bmad/agents/technical-writer-agent.md
  bmad/agents/users/business-user.md
  bmad/agents/users/data-analyst-user.md
  bmad/agents/users/data-engineer-user.md
  bmad/agents/users/ml-engineer-user.md
  bmad/agents/users/oss-contributor-user.md
  bmad/agents/users/platform-engineer-user.md
  bmad/checklists/api-checklist.md
  bmad/checklists/db-migration-checklist.md
  bmad/checklists/feature-checklist.md
  bmad/templates/adr-template.md
  bmad/templates/feature-spec-template.md
  bmad/templates/prd-template.md
  bmad/templates/story-template.md
  bmad/templates/test-plan-template.md
  bmad/workflows/bugfix-workflow.md
  bmad/workflows/feature-workflow.md
  specs/README.md
Due: none

docs: update data model and OpenAPI spec to current state (V105)
  docs/openapi.yml
  marquez_data_model.md
  spec/openapi.yml
Due: none

feat: enforce doc freshness on every PR
  .claude/settings.json
  .github/pull_request_template.md
  .github/workflows/docs-freshness.yml
Due: none

feat: add specialized developer agent personas
  bmad/README.md
  bmad/agents/dev-backend-agent.md
  bmad/agents/dev-database-agent.md
  bmad/agents/dev-frontend-agent.md
  bmad/agents/dev-platform-agent.md
Due: none

feat: add data-mesh scaling prerequisites to all dev and architect agents
  bmad/agents/architect-agent.md
  bmad/agents/dev-agent.md
  bmad/agents/dev-backend-agent.md
  bmad/agents/dev-database-agent.md
  bmad/agents/dev-platform-agent.md
Due: none

feat: add UX designer agent and insert into BMAD workflow
  bmad/README.md
  bmad/agents/ux-designer-agent.md
Due: none
