Repository swar00pduthks/marquez: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-pmd, gradle-build, gradle-test, check-repo-standards

.pre-commit-config.yaml:

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        -   id: trailing-whitespace
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: end-of-file-fixer
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: check-yaml
            exclude: ^chart/
        -   id: check-added-large-files
        -   id: check-merge-conflict
        -   id: mixed-line-ending
            exclude: ^(docs/|web/|examples/)

  -   repo: https://github.com/jguttman94/pre-commit-gradle
      rev: v0.3.0
      hooks:
        -  id: gradle-spotless
           name: Spotless Code Formatting
           args: ['-w', --wrapper]

  -   repo: local
      hooks:
        -   id: gradle-pmd
            name: PMD Static Analysis
            entry: cmd /c gradlew.bat pmdMain pmdTest
            language: system
            pass_filenames: false
            files: \.java$

        -   id: gradle-build
            name: Gradle Build
            entry: cmd /c gradlew.bat build -x test
            language: system
            pass_filenames: false
            files: \.(java|gradle|properties)$

        -   id: gradle-test
            name: Run Tests
            entry: cmd /c "gradlew.bat --stop && gradlew.bat cleanTest test"
            language: system
            pass_filenames: false
            files: \.java$
            stages: [pre-push]

        -   id: check-repo-standards
            name: Check Repository Standards
            entry: bash dev/check_repo_standards.sh
            language: system
            pass_filenames: false
            files: (CHANGELOG\.md|gradle\.properties|CONTRIBUTING\.md|CODE_OF_CONDUCT\.md)

        -   id: check-dco-signoff
            name: Check DCO Sign-off
            entry: powershell -Command "git log -1 --pretty=%B | Select-String 'Signed-off-by:' -Quiet"
            language: system
            pass_filenames: false
            stages: [commit-msg]

Bump version from 0.52.33 to 0.52.34
  gradle.properties
Due: gradle-build, check-repo-standards

Bump version to 0.52.34 in setup.py
  clients/python/setup.py
Due: none

Release 0.52.35: Security fixes for web image (Node 20, Alpine 3.21, OpenSSL patches)
  clients/python/setup.py
  gradle.properties
  web/Dockerfile
Due: gradle-build, check-repo-standards

fix: specify exact Node.js version in Dockerfile for consistency
  web/Dockerfile
Due: none

Release 0.52.36: Update Node.js to 20.20.0-alpine3.23 to fix CPE vulnerability
  clients/python/setup.py
  gradle.properties
  web/Dockerfile
Due: gradle-build, check-repo-standards

Add lineage facet filtering and GET endpoint load testing
  .circleci/config.yml
  .circleci/get-lineage-load-test.sh
  .gitignore
  api/load-testing/get-lineage-load-test.js
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  clients/python/setup.py
  gradle.properties
  spec/openapi.yml
  web/Dockerfile
Due: gradle-pmd, gradle-build, gradle-test, check-repo-standards

feat: Add parent run aggregation and facet filtering to lineage API
  api/src/test/java/marquez/api/OpenLineageResourceTest.java
Due: gradle-pmd, gradle-build, gradle-test

feat: Add parent run aggregation and facet filtering to lineage API
  api/load-testing/get-lineage-load-test.js
Due: none

chore: update package dependencies and improve proxy setup
  .pre-commit-config.yaml
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/db/migrations/V86__BackfillPartitionedDenormalizedTables.java
  clients/python/setup.py
  gradle.properties
  web/docker/entrypoint.sh
  web/package-lock.json
  web/package.json
  web/setupProxy.js
  web/webpack.prod.js
Due: gradle-pmd, gradle-build, gradle-test, check-repo-standards

feat: Add partition pruning optimization for denormalized lineage queries
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/V87__add_indexes_to_denormalized_tables.sql
  api/src/test/java/marquez/db/LineageDaoTest.java
Due: gradle-pmd, gradle-build, gradle-test

fix(migration): Skip V80 automatic repopulation to prevent blocking V81-V87
  api/src/main/java/marquez/db/migrations/V80__repopulate_denormalized_tables_after_facets_removal.java
  api/src/main/resources/marquez/db/migration/V81-V85__readme.md
  clients/python/setup.py
  gradle.properties
Due: gradle-pmd, gradle-build, gradle-test, check-repo-standards

Rename V81-V85__readme.md to V80-V85__readme.md
  api/src/main/resources/marquez/db/migration/V80-V85__readme.md
Due: none

Delete V81-V85__readme.md
  api/src/main/resources/marquez/db/migration/V81-V85__readme.md
Due: none

Update gradle.properties to version 0.52.40
  gradle.properties
Due: gradle-build, check-repo-standards

Update version number in setup.py from 0.52.39 to 0.52.40
  clients/python/setup.py
Due: none

Fix run_date NULL issue in denormalized lineage tables and add performance test
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
Due: gradle-pmd, gradle-build, gradle-test

Fix partition management for monthly partitions and add comprehensive tests
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/test/java/marquez/service/PartitionManagementServiceTest.java
Due: gradle-pmd, gradle-build, gradle-test

Fix partition management for monthly partitions and add comprehensive tests
  clients/python/setup.py
Due: none

Add PartitionManagementJob and fix test isolation issues
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/db/migrations/V78__BackfillDenormalizedTables.java
  api/src/main/java/marquez/jobs/PartitionManagementJob.java
  api/src/test/java/marquez/db/StatsTest.java
  api/src/test/java/marquez/db/migrations/V78__BackfillDenormalizedTablesTest.java
Due: gradle-pmd, gradle-build, gradle-test

Fix CircleCI db-migration test to use correct Docker registries
  .circleci/db-migration.sh
  docker-compose.seed.yml
  docker-compose.web.yml
  docker-compose.yml
  docker/seed.sh
  docker/up.sh
Due: none

Fix CircleCI load tests JAR detection and ensure version in filename
  .circleci/api-load-test.sh
  .circleci/get-lineage-load-test.sh
  api/build.gradle
Due: gradle-build

Fix CircleCI load-test-api: build JAR before testing
  .circleci/config.yml
Due: none

Revert archiveBaseName/archiveVersion from shadowJar config
  api/build.gradle
Due: gradle-build

Fix k6 load test to load all runs and fail on errors
  .circleci/get-lineage-load-test.sh
  api/load-testing/http.js
  api/load-testing/run-load-test.ps1
Due: none

Add migration to remove VARCHAR(255) length restriction from denormalized lineage tables
  api/src/main/resources/marquez/db/migration/V83__denorm_tables_remove_varchar_limits.sql
Due: none

feat: add V2 API support, Swagger UI, and optimized denormalization backfills
  api/build.gradle
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/v2/DatasetResource.java
  api/src/main/java/marquez/api/v2/DatasetVersionResource.java
  api/src/main/java/marquez/api/v2/JobResource.java
  api/src/main/java/marquez/api/v2/README.md
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/migrations/V86__BackfillPartitionedDenormalizedTables.java
  api/src/main/java/marquez/db/migrations/V90__BackfillEntityDenormalizedTables.java
  api/src/main/java/marquez/service/DatasetService.java
  api/src/main/java/marquez/service/DatasetVersionService.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/PartitionManagementService.java
  api/src/main/resources/assets/openapi.yml
  api/src/main/resources/assets/swagger-ui/index.html
  api/src/main/resources/marquez/db/migration/V83__denorm_tables_remove_varchar_limits.sql
  api/src/main/resources/marquez/db/migration/V88__create_denormalized_tables.sql
  api/src/main/resources/marquez/db/migration/V89__add_unique_constraints_for_upsert.sql
  api/src/main/resources/marquez/db/migration/V90__readme.md
  api/src/test/java/marquez/api/v2/DatasetResourceTest.java
  api/src/test/java/marquez/api/v2/DatasetVersionResourceTest.java
  api/src/test/java/marquez/api/v2/JobResourceTest.java
Due: gradle-pmd, gradle-build, gradle-test

feat: finalized V2 API, Swagger integration, and AI-Ready roadmap
  api/src/main/java/marquez/api/v2/DatasetResource.java
  api/src/main/java/marquez/api/v2/DatasetVersionResource.java
  api/src/main/java/marquez/api/v2/JobResource.java
  api/src/test/java/marquez/api/v2/DatasetResourceTest.java
  api/src/test/java/marquez/api/v2/DatasetVersionResourceTest.java
  api/src/test/java/marquez/api/v2/JobResourceTest.java
Due: gradle-pmd, gradle-build, gradle-test

feat: finalized V2 API, Swagger integration, and AI-Ready roadmap
  CHANGELOG.md
  gradle.properties
Due: gradle-build, check-repo-standards

feat: finalized V2 API, Swagger integration, and AI-Ready roadmap
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/resources/marquez/db/migration/V88__create_denormalized_tables.sql
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
Due: gradle-pmd, gradle-build, gradle-test

fix: fix build and test failures
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

feat: optimize relational facet retrieval to reduce DB bloat
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/api/RunResource.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/service/DatasetService.java
  api/src/main/java/marquez/service/DatasetVersionService.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/RunService.java
  api/src/main/resources/marquez/db/migration/V91__drop_facets_from_dataset_version_denormalized.sql
  api/src/test/java/marquez/db/DatasetDaoTest.java
Due: gradle-pmd, gradle-build, gradle-test

feat: add V2 API support, Swagger UI, and optimized denormalization backfills
  api/src/main/java/marquez/api/v2/DatasetResource.java
  api/src/main/java/marquez/api/v2/DatasetVersionResource.java
  api/src/main/java/marquez/api/v2/JobResource.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/DatasetService.java
  api/src/main/java/marquez/service/DatasetVersionService.java
  api/src/main/java/marquez/service/DelegatingDaos.java
  api/src/main/java/marquez/service/JobService.java
  api/src/main/resources/assets/openapi.yml
  api/src/test/java/marquez/api/v2/DatasetResourceTest.java
  api/src/test/java/marquez/api/v2/DatasetVersionResourceTest.java
  api/src/test/java/marquez/api/v2/JobResourceTest.java
  load-test-facets.js
Due: gradle-pmd, gradle-build, gradle-test

docs: Add markdown prompts and a parallel execution guide for AI agent roles
  agents/architect.md
  agents/developer.md
  agents/devops.md
  agents/parallel_execution_guide.md
  agents/product_owner.md
  agents/tester.md
Due: none

docs: Add parallel execution guide for Copilot Workspace and Antigravity
  agents/parallel_execution_guide.md
Due: none

docs: Update AI agent instructions for specific project roles
  agents/architect.md
  agents/chief_architect.md
  agents/competitive_analyst.md
  agents/core_engineer.md
  agents/developer.md
  agents/devops.md
  agents/devrel_engineer.md
  agents/product_manager.md
  agents/product_marketing_manager.md
  agents/product_owner.md
  agents/qa_engineer.md
  agents/release_manager.md
  agents/technical_writer.md
  agents/tester.md
Due: none

docs: Add performance tester agent for multi-tenant scalability
  agents/core_engineer.md
  agents/devrel_engineer.md
  agents/performance_tester.md
  agents/qa_engineer.md
  agents/release_manager.md
  agents/technical_writer.md
Due: none

docs: Add frontend, UX, and data analyst agent personas
  agents/chief_architect.md
  agents/data_analyst.md
  agents/frontend_engineer.md
  agents/product_manager.md
  agents/ux_designer.md
Due: none

docs: Add multi-cloud and security constraints to Chief Architect agent
  agents/chief_architect.md
Due: none
