Repository swar00pduthks/marquez: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-pmd, gradle-build, gradle-test, check-repo-standards

.pre-commit-config.yaml:

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        -   id: trailing-whitespace
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: end-of-file-fixer
            exclude: ^(docs/|web/|examples/)|.*\.(md|yaml|yml|sh|ps1|svg)$
        -   id: check-yaml
            exclude: ^chart/
        -   id: check-added-large-files
        -   id: check-merge-conflict
        -   id: mixed-line-ending
            exclude: ^(docs/|web/|examples/)

  -   repo: https://github.com/jguttman94/pre-commit-gradle
      rev: v0.3.0
      hooks:
        -  id: gradle-spotless
           name: Spotless Code Formatting
           args: ['-w', --wrapper]

  -   repo: local
      hooks:
        -   id: gradle-pmd
            name: PMD Static Analysis
            entry: cmd /c gradlew.bat pmdMain pmdTest
            language: system
            pass_filenames: false
            files: \.java$

        -   id: gradle-build
            name: Gradle Build
            entry: cmd /c gradlew.bat build -x test
            language: system
            pass_filenames: false
            files: \.(java|gradle|properties)$

        -   id: gradle-test
            name: Run Tests
            entry: cmd /c "gradlew.bat --stop && gradlew.bat cleanTest test"
            language: system
            pass_filenames: false
            files: \.java$
            stages: [pre-push]

        -   id: check-repo-standards
            name: Check Repository Standards
            entry: bash dev/check_repo_standards.sh
            language: system
            pass_filenames: false
            files: (CHANGELOG\.md|gradle\.properties|CONTRIBUTING\.md|CODE_OF_CONDUCT\.md)

        -   id: check-dco-signoff
            name: Check DCO Sign-off
            entry: powershell -Command "git log -1 --pretty=%B | Select-String 'Signed-off-by:' -Quiet"
            language: system
            pass_filenames: false
            stages: [commit-msg]

docs: Add DevOps engineer AI persona
  agents/devops_engineer.md
Due: none

docs: Add AI agent reviews for existing proposals
  proposals/issue-competitive-feedback.md
  proposals/issue-data-analyst-feedback.md
  proposals/issue-ux-feedback.md
Due: none

docs: Add full platform competition goals to Analyst/UX agents
  agents/competitive_analyst.md
  agents/ux_designer.md
Due: none

Hi there, Jules here! I wanted to let you know that I have successfully added the universal guardrails and completion criteria for all of our AI agents.
  agents/chief_architect.md
  agents/competitive_analyst.md
  agents/core_engineer.md
  agents/data_analyst.md
  agents/devops_engineer.md
  agents/devrel_engineer.md
  agents/frontend_engineer.md
  agents/performance_tester.md
  agents/product_manager.md
  agents/product_marketing_manager.md
  agents/qa_engineer.md
  agents/release_manager.md
  agents/shared_guardrails.md
  agents/technical_writer.md
  agents/ux_designer.md
  proposals/issue-new-product-roadmap.md
Due: none

docs: Add Data Scientist agent and predictive lineage proposals
  agents/chief_architect.md
  agents/data_scientist.md
Due: none

docs: Add competitor gap analysis and enterprise UX requirements
  agents/ux_designer.md
  proposals/issue-competitor-gap-analysis.md
Due: none

I have updated the documentation to replace the Decorator philosophy with 12-factor and microservices principles.
  agents/chief_architect.md
  agents/core_engineer.md
  agents/qa_engineer.md
  agents/shared_guardrails.md
  agents/technical_writer.md
Due: none

docs: Evaluate Marquez as an Enterprise AI Context Store
  agents/chief_architect.md
  agents/connector_engineer.md
  agents/data_scientist.md
  agents/frontend_engineer.md
  agents/product_manager.md
  agents/ux_designer.md
  proposals/issue-enterprise-agent-context-store.md
Due: none

docs: Add prioritized backlog from AI agent reviews
  proposals/issue-prioritized-backlog.md
Due: none

docs: Fix typo in scalability metrics and clarify prediction storage
  agents/chief_architect.md
  agents/data_scientist.md
  agents/performance_tester.md
  agents/ux_designer.md
  proposals/issue-competitor-gap-analysis.md
  proposals/issue-prioritized-backlog.md
Due: none

docs: Add Ollama integration and parallel subagent execution guide
  agents/parallel_execution_guide.md
Due: none

fix(api-v2): stabilize denormalized V2 queries and tests
  .gitignore
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/service/DatasetVersionService.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/assets/swagger-ui/index.html
  api/src/main/resources/marquez/db/migration/V92__add_missing_columns_to_denormalized_tables.sql
  api/src/test/java/marquez/api/JdbiUtils.java
  api/src/test/java/marquez/common/api/DatasetResourceV2IntegrationTest.java
  api/src/test/java/marquez/common/api/JobResourceV2IntegrationTest.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/DatasetDaoV2Test.java
  api/src/test/java/marquez/db/JobDaoV2Test.java
  api/src/test/java/marquez/db/V1VsV2ComparisonTest.java
  api/src/test/java/marquez/service/DenormalizedLineageServiceTest.java
  docker/generated-metadata.json
Due: gradle-pmd, gradle-build, gradle-test

docs: create AGENTS.md for detailed architecture and guidelines
  AGENTS.md
Due: none

feat(load-testing): add k6 benchmark jobs and scripts for comprehensive API load testing
  .github/workflows/azure-load-test.yml
  .gitignore
  AGENTS.md
  api/build.gradle
  api/load-testing/comprehensive-api-load-test.js
  api/load-testing/k8s/k6-benchmark-100k-job.yaml
  api/load-testing/k8s/k6-benchmark-after-job.yaml
  api/load-testing/k8s/k6-benchmark-before-job.yaml
  api/load-testing/k8s/k6-seed-100k-job.yaml
  api/load-testing/load-testing.md
  api/load-testing/spark-lineage-seed.js
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/BaseResource.java
  api/src/main/java/marquez/api/v2/LineageResource.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/DenormalizedLineageService.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/assets/openapi.yml
  api/src/main/resources/marquez/db/migration/V93__add_job_input_output_to_job_denormalized.sql
  api/src/test/java/marquez/BaseIntegrationTest.java
  api/src/test/java/marquez/api/v2/LineageResourceTest.java
  api/src/test/java/marquez/common/api/LineageResourceV2IntegrationTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  chart/templates/marquez/configmap.yaml
  docs/openapi.yml
  spec/openapi.yml
  web/setupProxy.js
  web/src/__tests__/requests/lineage.test.ts
  web/src/store/requests/lineage.ts
Due: gradle-pmd, gradle-build, gradle-test

fix(workflow): update actions and dependencies in test-chart workflow
  .github/workflows/test-chart.yaml
Due: none

fix(api): correct performance regressions in v2 lineage logic
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/V94__add_run_input_output_to_run_denormalized.sql
  chart/values.yaml
Due: gradle-pmd, gradle-build, gradle-test

perf: Optimize V2 lineage API and fix pagination regressions
  chart/values.yaml
Due: none

Add v1-v2 lineage parity tests and fix job DAO queries
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/common/api/JobResourceV2IntegrationTest.java
  api/src/test/java/marquez/common/api/LineageResourceV2IntegrationTest.java
Due: gradle-pmd, gradle-build, gradle-test

Fix Dropwizard connection pooling and add auto-close settings
  .circleci/api-load-test.sh
  .circleci/get-lineage-load-test.sh
  api/marquez.dev.yml
  api/src/test/resources/config.test.yml
  chart/templates/marquez/configmap.yaml
  config.yml
  marquez.dev.yml
  marquez.example.yml
Due: none

feat: bootstrap api-v2 module with Postgres AGE for graph scalable lineage
  api-v2/build.gradle
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/MarquezConfigV2.java
  api-v2/src/main/java/marquez/v2/resources/LineageResourceV2.java
  proposals/9999-marquez-v2-graph-database.md
  settings.gradle
Due: gradle-pmd, gradle-build, gradle-test

chore: add missing apache copyright headers to api-v2
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/MarquezConfigV2.java
  api-v2/src/main/java/marquez/v2/resources/LineageResourceV2.java
Due: gradle-pmd, gradle-build, gradle-test

docs: expand graph proposal to detail Source, RunState, and agtype properties
  proposals/9999-marquez-v2-graph-database.md
Due: none

docs: add column lineage mapping to graph database proposal
  proposals/9999-marquez-v2-graph-database.md
Due: none

docs: map all legacy relational tables to graph architecture proposal
  proposals/9999-marquez-v2-graph-database.md
Due: none

feat(api-v2): fully implement graph domain model and fix cypher injection
  api-v2/build.gradle
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/db/GraphDao.java
  api-v2/src/main/java/marquez/v2/resources/LineageResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/OpenLineageResourceV2.java
  api-v2/src/test/java/marquez/v2/resources/OpenLineageResourceV2Test.java
  test_headers.sh
Due: gradle-pmd, gradle-build, gradle-test

feat(api-v2): fix JDBI bindings and map full endpoint skeleton
  api-v2/marquez.v2.yml
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/db/GraphDao.java
  api-v2/src/main/java/marquez/v2/resources/DatasetResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/LineageResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/OpenLineageResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/V2ResourceStubs.java
  api-v2/src/test/java/marquez/v2/resources/OpenLineageResourceV2Test.java
  docker-compose.yml
  proposals/9999-marquez-v2-graph-database.md
Due: gradle-pmd, gradle-build, gradle-test

fix(api): enhance denormalized lineage inserts to handle conflicts gracefully
  api/src/main/java/marquez/service/DenormalizedLineageService.java
Due: gradle-pmd, gradle-build, gradle-test

fix(api-v2): fix GET endpoints JSON format and revert compose to postgres:14
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/resources/ColumnLineageResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/JobResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/NamespaceResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/RunResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/SourceResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/TagResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/V2ResourceStubs.java
  docker-compose.yml
Due: gradle-pmd, gradle-build, gradle-test

fix: compile apache AGE on official postgres 14 to preserve pipelines
  docker-compose.db.yml
  docker-compose.yml
  docker/postgres-age/Dockerfile
Due: none

chore: configure docker-compose to use official apache age docker image
  docker-compose.db.yml
  docker-compose.yml
  docker/postgres-age/Dockerfile
Due: none

Update PostgreSQL image tag to 14 in ci-values.yaml
  chart/ci/ci-values.yaml
Due: none

docs(api-v2): document aggregateToParentRun and add parameter to lineage api
  api-v2/build.gradle
  api-v2/marquez.v2.yml
  api-v2/src/main/java/marquez/v2/MarquezAppV2.java
  api-v2/src/main/java/marquez/v2/MarquezConfigV2.java
  api-v2/src/main/java/marquez/v2/resources/LineageResourceV2.java
  api-v2/src/main/java/marquez/v2/resources/TagResourceV2.java
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/v2/db/GraphDao.java
  api/src/main/java/marquez/v2/resources/ColumnLineageResourceV2.java
  api/src/main/java/marquez/v2/resources/DatasetResourceV2.java
  api/src/main/java/marquez/v2/resources/JobResourceV2.java
  api/src/main/java/marquez/v2/resources/NamespaceResourceV2.java
  api/src/main/java/marquez/v2/resources/OpenLineageResourceV2.java
  api/src/main/java/marquez/v2/resources/RunResourceV2.java
  api/src/main/java/marquez/v2/resources/SourceResourceV2.java
  api/src/main/java/marquez/v2/resources/TagResourceV2.java
  api/src/test/java/marquez/v2/resources/NamespaceResourceV2Test.java
  api/src/test/java/marquez/v2/resources/OpenLineageResourceV2Test.java
  docker-compose.db.yml
  docker-compose.yml
  docker/postgres-age/Dockerfile
  proposals/9999-marquez-v2-graph-database.md
  settings.gradle
Due: gradle-pmd, gradle-build, gradle-test

feat(api-v2): integrate graph ingestion with main dropwizard app
  api/src/main/java/marquez/v2/resources/OpenLineageResourceV2.java
  proposals/9999-marquez-v2-graph-database.md
Due: gradle-pmd, gradle-build, gradle-test

fixed impact on backfill migration files
  api/src/main/java/marquez/db/migrations/V86__BackfillPartitionedDenormalizedTables.java
  api/src/main/java/marquez/db/migrations/V90__BackfillEntityDenormalizedTables.java
Due: gradle-pmd, gradle-build, gradle-test

I've completed the refactor, updating the V2 graph implementation to V3 to avoid merge conflicts. Here is a breakdown of what I accomplished:
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/main/java/marquez/v3/resources/ColumnLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/DatasetResourceV3.java
  api/src/main/java/marquez/v3/resources/JobResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceResourceV3.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/RunResourceV3.java
  api/src/main/java/marquez/v3/resources/SourceResourceV3.java
  api/src/main/java/marquez/v3/resources/TagResourceV3.java
  api/src/test/java/marquez/v3/resources/LineageResourceV3Test.java
  api/src/test/java/marquez/v3/resources/NamespaceResourceV3Test.java
  api/src/test/java/marquez/v3/resources/OpenLineageResourceV3Test.java
  fix_headers.sh
  load-testing/v3-graph-benchmark-100k.sh
  proposals/9999-marquez-v3-graph-database.md
Due: gradle-pmd, gradle-build, gradle-test

fix(chart): add newline at EOF in ci-values for ct lint
  chart/Chart.yaml
  chart/ci/ci-values.yaml
  clients/python/setup.cfg
  clients/python/setup.py
  gradle.properties
Due: gradle-build, check-repo-standards

fix(chart): add newline at EOF in ci-values for ct lint
  chart/Chart.yaml
  chart/ci/ci-values.yaml
Due: none

ci chart fix
  chart/Chart.lock
  chart/Chart.yaml
  chart/ci/ci-values.yaml
  chart/values.yaml
Due: none

ci chart fix
  chart/Chart.yaml
Due: none
