Repository swar00pduthks/marquez: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-pmd, gradle-build, gradle-test, check-repo-standards

gradle-pmd:
  name: PMD Static Analysis
  entry: cmd /c gradlew.bat pmdMain pmdTest
  language: system
  pass_filenames: false

gradle-build:
  name: Gradle Build
  entry: cmd /c gradlew.bat build -x test
  language: system
  pass_filenames: false

gradle-test:
  name: Run Tests
  entry: cmd /c "gradlew.bat --stop && gradlew.bat cleanTest test"
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-repo-standards:
  name: Check Repository Standards
  entry: bash dev/check_repo_standards.sh
  language: system
  pass_filenames: false

ci chart fix
  chart/values.yaml
Due: none

ci chart fix
  chart/ci/ci-values.yaml
Due: none

style: fix wildcard imports and pass spotless checks
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/main/java/marquez/v3/resources/ColumnLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/DatasetResourceV3.java
  api/src/main/java/marquez/v3/resources/JobResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceResourceV3.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/RunResourceV3.java
  api/src/main/java/marquez/v3/resources/SourceResourceV3.java
  api/src/main/java/marquez/v3/resources/TagResourceV3.java
  api/src/test/java/marquez/v3/resources/LineageResourceV3Test.java
  api/src/test/java/marquez/v3/resources/NamespaceResourceV3Test.java
  api/src/test/java/marquez/v3/resources/OpenLineageResourceV3Test.java
Due: gradle-pmd, gradle-build, gradle-test

test(load): add python comparison benchmark script between V1 and V3
  load-testing/compare_v1_v3.py
Due: none

fix(api-v3): resolve array parsing bugs and cypher traversal syntax
  load-testing/compare_v1_v3.py
  load-testing/v3-graph-benchmark.js
Due: none

test(api-v3): implement dynamic AGE testcontainer for V3 integration tests
  api/src/test/java/marquez/PostgresContainer.java
Due: gradle-pmd, gradle-build, gradle-test

fix: fix pgobject serialization syntax for apache age parameters
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/main/java/marquez/v3/resources/ColumnLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/DatasetResourceV3.java
  api/src/main/java/marquez/v3/resources/JobResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceResourceV3.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/RunResourceV3.java
  api/src/main/java/marquez/v3/resources/SourceResourceV3.java
  api/src/main/java/marquez/v3/resources/TagResourceV3.java
  api/src/test/java/marquez/v3/resources/LineageResourceV3Test.java
  api/src/test/java/marquez/v3/resources/NamespaceResourceV3Test.java
  fix_cypher_queries.sh
  inject_helper.sh
Due: gradle-pmd, gradle-build, gradle-test

feat(v3): add async backfill orchestrator, GraphWriter, and retention for AGE graph
  .claude/launch.json
  .claude/settings.local.json
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezConfig.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/DbRetention.java
  api/src/main/java/marquez/jobs/BackfillConfig.java
  api/src/main/java/marquez/jobs/BackfillOrchestrator.java
  api/src/main/java/marquez/jobs/PartitionManagementJob.java
  api/src/main/java/marquez/jobs/backfill/BackfillJob.java
  api/src/main/java/marquez/jobs/backfill/DenormV1BackfillJob.java
  api/src/main/java/marquez/jobs/backfill/GraphV1BackfillJob.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/main/java/marquez/v3/db/GraphWriter.java
  api/src/main/java/marquez/v3/resources/ColumnLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/DatasetResourceV3.java
  api/src/main/java/marquez/v3/resources/JobResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceDatasetResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceJobResourceV3.java
  api/src/main/java/marquez/v3/resources/NamespaceResourceV3.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/java/marquez/v3/resources/RunResourceV3.java
  api/src/main/java/marquez/v3/resources/SourceResourceV3.java
  api/src/main/java/marquez/v3/resources/TagResourceV3.java
  api/src/main/resources/marquez/db/migration/V100__create_backfill_checkpoints.sql
  api/src/main/resources/marquez/db/migration/V97__create_2026_partitions_and_add_run_date_to_lineage_events.sql
  api/src/main/resources/marquez/db/migration/V98__fix_age_indexes_btree_per_label.sql
  api/src/main/resources/marquez/db/migration/V99__create_backfill_checkpoints.sql
  api/src/test/java/marquez/v3/BaseV3IntegrationTest.java
  api/src/test/java/marquez/v3/OpenLineageResourceV3IntegrationTest.java
  api/src/test/java/marquez/v3/db/GraphWriterIntegrationTest.java
  api/src/test/java/marquez/v3/resources/OpenLineageResourceV3Test.java
  docs/v3-api-investigation-guide.md
  marquez.dev.yml
Due: gradle-pmd, gradle-build, gradle-test

chore: remove .claude/ from tracking and add to .gitignore
  .claude/launch.json
  .claude/settings.local.json
  .gitignore
Due: none

fix(v3): fix backfill run_uuid column, BFS lineage traversal, 2026 partitions
  api/src/main/java/marquez/jobs/backfill/GraphV1BackfillJob.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/resources/marquez/db/migration/V101__create_2026_partitions_and_add_run_date_to_lineage_events.sql
  api/src/test/java/marquez/v3/OpenLineageResourceV3IntegrationTest.java
Due: gradle-pmd, gradle-build, gradle-test

fix(deploy): remove conflicting V97, add CACHE_BUST ARG to force Gradle rebuild
  Dockerfile
  api/src/main/resources/marquez/db/migration/V97__create_2026_partitions_and_add_run_date_to_lineage_events.sql
Due: none

fix(migration): replace GENERATED ALWAYS AS with plain column for Azure PG compat
  api/src/main/resources/marquez/db/migration/V101__create_2026_partitions_and_add_run_date_to_lineage_events.sql
Due: none

fix(tests): load AGE per connection in initAgeSession, fix unit test mock
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/test/java/marquez/v3/resources/OpenLineageResourceV3Test.java
Due: gradle-pmd, gradle-build, gradle-test

fix(tests): fix all pre-existing test failures
  api/src/main/java/marquez/db/DbRetention.java
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3.java
  api/src/main/resources/marquez/db/migration/V66.1__alter_job_facets.sql
  api/src/main/resources/marquez/db/migration/V66.2__alter_lineage_events_add_event_type.sql
  api/src/main/resources/marquez/db/migration/V67.1__job_versions_io_mapping_add_job_reference.sql
  api/src/main/resources/marquez/db/migration/V68__add_jobs_tag_mapping.sql
  api/src/main/resources/marquez/db/migration/V73__alter_all_timestamps_to_timestamptz.sql
  api/src/main/resources/marquez/db/migration/V79__drop_facets_from_denormalized_tables.sql
  api/src/main/resources/marquez/db/migration/V98__fix_age_indexes_btree_per_label.sql
  api/src/test/java/marquez/v3/OpenLineageResourceV3IntegrationTest.java
  deps.txt
  docker/column-lineage.json
Due: gradle-pmd, gradle-build, gradle-test

fix: revert whitespace changes to old Flyway migrations, exclude from hooks
  .pre-commit-config.yaml
  api/src/main/resources/marquez/db/migration/V66.1__alter_job_facets.sql
  api/src/main/resources/marquez/db/migration/V66.2__alter_lineage_events_add_event_type.sql
  api/src/main/resources/marquez/db/migration/V67.1__job_versions_io_mapping_add_job_reference.sql
  api/src/main/resources/marquez/db/migration/V68__add_jobs_tag_mapping.sql
  api/src/main/resources/marquez/db/migration/V73__alter_all_timestamps_to_timestamptz.sql
  api/src/main/resources/marquez/db/migration/V79__drop_facets_from_denormalized_tables.sql
  deps.txt
  docker/column-lineage.json
Due: none

fix(compile): replace removed GraphDao.agToJson/safeReadTree in OpenLineageResourceV3Beta
  api/src/main/java/marquez/v3/resources/OpenLineageResourceV3Beta.java
Due: gradle-pmd, gradle-build, gradle-test

fix(javadoc): remove Lombok-generated method refs from @link tags
  api/src/main/java/marquez/jobs/BackfillOrchestrator.java
  api/src/main/java/marquez/jobs/backfill/GraphV1BackfillJob.java
Due: gradle-pmd, gradle-build, gradle-test

fix(docker): add age to shared_preload_libraries in postgresql.conf
  docker/postgresql.conf
Due: none

docs: add v3 graph model reference for AGE vertices, edges and mappings
  docs/v3-graph-model.md
Due: none

fix(graph): extract real source name and connectionUrl from dataSource facet
  api/src/main/java/marquez/v3/db/GraphWriter.java
Due: gradle-pmd, gradle-build, gradle-test

fix(docker): bake shared_preload_libraries into postgres-age image
  docker-compose.db.yml
  docker/postgres-age/Dockerfile
Due: none

feat(graph): implement column lineage DERIVED_FROM edges with V1/V2 parity
  api/src/main/java/marquez/v3/db/GraphDao.java
  api/src/main/java/marquez/v3/db/GraphWriter.java
Due: gradle-pmd, gradle-build, gradle-test

docs: add column lineage queries, V1/V2 parity checks, production runbook
  docs/v3-api-investigation-guide.md
Due: none

fix(ci): fix k6 install and increase DB wait timeout for postgres-age startup
  .circleci/get-k6.sh
  docker-compose.search.yml
  docker-compose.yml
Due: none

fix(ci): fix copyright false positives and V95 permission failure
  .github/workflows/headerchecker.yml
  api/src/main/resources/marquez/db/migration/V95__initialize_apache_age.sql
  docker-compose.db.yml
  docker/init-db.sh
Due: none

fix(migration): guard V98 ag_catalog access in its own exception block
  api/src/main/resources/marquez/db/migration/V98__fix_age_indexes_btree_per_label.sql
Due: none

fix(age): grant marquez ag_catalog access and LOAD age in V98
  api/src/main/resources/marquez/db/migration/V98__fix_age_indexes_btree_per_label.sql
  docker/init-db.sh
Due: none

fix(migration): remove LOAD 'age' from V98 — blocked for non-superusers
  api/src/main/resources/marquez/db/migration/V98__fix_age_indexes_btree_per_label.sql
Due: none

feat(migration): V97 — eagerly initialise AGE graph and all labels
  api/src/main/resources/marquez/db/migration/V97__initialize_age_graph.sql
Due: none

fix(load-test): only query runs with output datasets, fix textSummary TypeError
  api/load-testing/get-lineage-load-test.js
Due: none

feat(ci): add V2 benchmark and V3 load test steps to load-test-api job
  .circleci/config.yml
  .circleci/get-v2-benchmark.sh
  api/load-testing/v3-lineage-load-test.js
Due: none

fix(load-test): add missing V2 benchmark script and API-probing fallback for run UUIDs
  api/load-testing/azure-comprehensive-get-benchmark.js
  api/load-testing/get-lineage-load-test.js
  api/load-testing/v3-lineage-load-test.js
Due: none

fix(test): set ageEnabled=true in config.test.yml for V3 integration tests
  api/src/test/resources/config.test.yml
Due: none

chore(release): bump version to 0.52.43
  CHANGELOG.md
  chart/Chart.yaml
  chart/values.yaml
  gradle.properties
Due: gradle-build, check-repo-standards

fix(test): pin AGE test container to release_PG14_1.5.0 instead of latest
  api/src/test/java/marquez/PostgresContainer.java
Due: gradle-pmd, gradle-build, gradle-test

Path conditions:
  gradle-pmd: any of: \.java$
  gradle-build: any of: \.(java|gradle|properties)$
  gradle-test: any of: \.java$
  check-repo-standards: any of: (CHANGELOG\.md|gradle\.properties|CONTRIBUTING\.md|CODE_OF_CONDUCT\.md)
